<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_gripper">
    <xacro:macro name="franka_gripper" params="connected_to:='' gripper_id:='' rpy:='0 0 0' xyz:='0 0 0' ">

        <xacro:unless value="${connected_to == ''}">
            <joint name="${gripper_id}_hand_joint" type="fixed">
                <parent link="${connected_to}"/>
                <child link="${gripper_id}_hand"/>
                <origin xyz="${xyz}" rpy="${rpy}"/>
            </joint>

        </xacro:unless>

        <link name="${gripper_id}_hand">
            <inertial>
                <mass value="0.54"/>
                <origin rpy="0 0 0" xyz="0 0 0.02"/>
                <!-- <inertia ixx="0.000888868887021" ixy="-0.00012239074652" ixz="3.98699829666e-05" iyy="0.000888001373233" iyz="-9.33825115206e-05" izz="0.0007176834609"/> -->
                <inertia ixx="0.0010845" ixy="0.0" ixz="0.0" iyy="0.00009" iyz="0.0" izz="0.0010305"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/visual/hand.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/collision/hand.stl"/>
                </geometry>
            </collision>
        </link>

        <link name="${gripper_id}_leftfinger">
            <inertial>
                <mass value="0.01"/>
                <origin rpy="0 0 0" xyz="0.0 0.01 0.025"/>
                <inertia ixx="0.0000015" ixy="0" ixz="0" iyy="0.0000015" iyz="0" izz="0.0000015"/>
            </inertial>
            <visual>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/visual/finger.dae"/>
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/collision/finger.stl"/>
                </geometry>
            </collision>
        </link>

        <link name="${gripper_id}_rightfinger">
            <inertial>
                <mass value="0.01"/>
                <origin rpy="0 0 0" xyz="0.0 -0.01 0.025"/>
                <inertia ixx="0.0000015" ixy="0" ixz="0" iyy="0.0000015" iyz="0" izz="0.0000015"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/visual/finger.dae"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
                <geometry>
                    <mesh filename="package://hrii_franka_gripper_description/meshes/collision/finger.stl"/>
                </geometry>
            </collision>
        </link>

        <joint name="${gripper_id}_finger_joint1" type="prismatic">
            <parent link="${gripper_id}_hand"/>
            <child link="${gripper_id}_leftfinger"/>
            <origin xyz="0 0 0.0584" rpy="0 0 0"/>
            <axis xyz="0 1 0"/>
            <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
        </joint>

        <joint name="${gripper_id}_finger_joint2" type="prismatic">
            <parent link="${gripper_id}_hand"/>
            <child link="${gripper_id}_rightfinger"/>
            <origin xyz="0 0 0.0584" rpy="0 0 0"/>
            <axis xyz="0 -1 0"/>
            <limit effort="20" lower="0.0" upper="0.04" velocity="0.2"/>
            <mimic joint="${gripper_id}_finger_joint1"/>
        </joint>

    </xacro:macro>
</robot>
