<launch>
  <arg name="trajectory_config_file" default="$(find moca_trajectory_generator)/config/target_pose_generator_params.yaml" />
  <arg name="plotter_config_file" default="$(find polytope_ros)/config/real_execution_plotter.yaml" />
  <arg name="rviz_config_file" default="$(find Moca_controller)/rviz/moca_tf_tree.rviz" />

  <include file="$(find Moca_controller)/launch/moca_impedance_controller.launch">
    <arg name="trajectory_config_file" value="$(arg trajectory_config_file)" />
    <arg name="plotter_config_file" value="$(arg plotter_config_file)" />
  </include>

  <node pkg="rviz"
        type="rviz"
        name="moca_tf_rviz"
        args="-d $(arg rviz_config_file)"
        output="screen" />
</launch>
